<div class="flag-form nested-fields animated fadeIn">
	<div class="input-prepend flag-time-input pull-left field">
		<span class="add-on pull-left"><i class='fa fa-clock-o'></i></span>
		<%= f.text_field :minute, {:class => 'input-mini flag-time', :placeholder => "00", :maxlength => 2}  %>	
		<%= f.text_field :second, {:class => 'input-mini flag-time', :placeholder => "00", :maxlength => 2}  %>
	</div>

	<div class="input-prepend flag-body-input field">
		<span class="add-on pull-left"><i class='fa fa-comment-o'></i></span>
		<%= f.text_field :body, {:class => 'flag-body', :placeholder => "Flag comment...", :maxlength => 200} %>
	</div>

    <%= f.hidden_field :user_id, :value => current_user.id %>

	<%= link_to_remove_association raw("<b>&minus;</b>"), f, :class => "btn btn-remove"%>

</div>