<div id="homepage-video-nav" class="">
	<ul id="homepage-video-tabs" class="nav nav-pills">
	  <li <% if @tab=="popular"%>class="active"<%end%> ><a href="popular">Popular</a></li>
	  <li <% if @tab=="new"%>class="active"<%end%> ><a href="new">New</a></li>
	  <li <% if @tab=="best"%>class="active"<%end%> ><a href="best">Best</a></li>
	</ul>
</div>
<div id="videos" class="">
	<% if @videos.size > 0 %>
		<ul id="homepage-video-list" class="video-list media-list">
			<% @videos.each do |video| %>
				<li class="media video-listing">
					<a href="<%= video_path(video) %>"  class="thumbnail-link pull-left">
					<div class="thumbnail-crop">
						<%= image_tag video.generate_thumbnail %>
					</div>
					</a>
					
					<div class="media-body video-listing-info">
						<div id="image-container" class="pull-left">
							<%= image_tag video.champion_image, :size => "51x51", :class => "champion-image", :title => video.get_champion %>
							<%= image_tag video.opponent_image, :size => "51x51", :class => "opponent-image", :title => video.get_opponent %>
						</div>

						<div class="video-listing-header">
							<a href="<%= video_path(video) %>" class="video-listing-title">
								<%= video.title %>
							</a>
							<p class="video-listing-upload">
								by
								<a href="#" class="video-listing-uploader"><%=User.find(video.user_id).email %></a>
								 | uploaded <%= video.generate_time() %>
							</p>
						</div>
						<div class="video-listing-body">
							<div class="video-listing-tags">
								<div class="video-listing-description">
									<%= raw(video.generate_description) %>
								</div>
								<div class="video-listing-focus">
                  <% video.focu_list.each do |focus| %>
                    <%= link_to focus, root_path(:filter=>focus), :class => "btn tag-button" %>
                  <% end %>
								</div>
							</div>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	<% else %>
		No Videos Found.
	<% end %>
</div>
