<% unless @homepage %>
	<% content_for :page_title do %>
	Browse Videos
	<% end %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag "optionArrays.js" %>
  <%= javascript_include_tag "filter.js" %>
  <%= javascript_include_tag "homepage.js" %>
<% end %>

<div id="homepage-videos-content" class="row-fluid content">
	<div id="filters-container" class="pull-left">
		<%= render "videos/filters" %>
	</div>
	<div id="videos-container" class="">
		<%= render "videos/index" %>
	</div>
</div>

