
<div id="flags">
	<% @flags.each do |f| %>
		<div class="flag" id="flag-<%=f.id%>" onclick="flagClick(<%=f.time%>,<%=f.id%>)">
			<div class="flag-info">
				<%= f.minute %>:<%= f.second %> | <%= User.find(f.user_id).email %>
			</div>
			<div class="flag-content">
				<%= f.body.html_safe %>
			</div>
		</div>
	<% end %>
</div>
