<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<div class="homepage-form-header">
		<h4>Sign in</h4>
	</div>
	</br>

  <%= f.email_field :email, :autofocus => true, :required => true, :placeholder => 'Email address', :id => "signin-email-field"  %>
	</br>
	</br>
  <%= f.password_field :password, :required => true, :placeholder => 'Password' %>
	</br>	
  <% if devise_mapping.rememberable? %>
  <div class="remember-me">
  	<%= f.label :remember_me, :class => "pull-right" %>
   	<%= f.check_box :remember_me, :class => "pull-right" %>
  	</br>
    <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "pull-right" %>
  </div>
	</br>
	</br>
	<% end %>

  <%= f.submit "Submit", :class=>"btn btn-primary" %>
<% end %>

</br>
