<%= form_for @review do |r| %>
      <a class="review-toggle btn btn-primary" data-toggle="collapse" href="#wysi-container">
        Hide Review <i class='fa fa-caret-up'></i>
      </a>
	  <div id="wysi-container" class="accordion-body collapse in">
	    <%= r.text_area :body, :id=>"wysi-textarea", :class=>"accordion-inner", :placeholder=>"Write your review", :style=>"height: 150px" %>
	    <%= hidden_field_tag :video_id, @video.id %>


	  	<div id="flags">
	  	  <%= r.fields_for :flags do |flag| %>
	    	<%= render 'flag_fields', :f => flag %>
	  	  <% end %>
	    </div>




	    <div class="links">
		    <%= link_to_add_association raw("+ <i class='fa fa-align-justify'></i>"), r, :flags, :class => "btn btn-secondary", :id => "add-flag-btn" %>

		    <%= r.submit "Submit", :class => "btn btn-primary"%>
		</div>
	  </div>

<% end %>