<div class="span3 offset">
	<ul class="nav pull-left">
		<li>
			<%= link_to image_tag("WhiteLogo.png", :size => "94x0"), root_path, :class => "brand" %>
		</li>
	</ul>
</div>
<div class="span9">
	<ul class="nav pull-right">
			<% if current_user %>
				<li>
		            <%= link_to raw("<i class='fa fa-fw fa-user'></i>"), account_page_path, :title => "Your Account" %>
		        </li>
		        <li>
					<%= link_to raw("<i class='fa fa-fw fa-cloud-upload'></i>"), new_video_path, :title => "Upload Video" %>
				</li>
				<li>
					<%= link_to raw("<i class='fa fa-fw fa-sign-out'></i>"), destroy_user_session_path, :method => 'delete', :title => "Sign Out" %>
				</li>
			<% else %>
				<li>
			        <%= link_to raw("<i class='fa fa-fw fa-sign-in'></i>"), new_user_session_path, :title => "Sign In" %>
				</li>
		<% end %>
	</ul>
	<%= form_tag({:controller=>"/videos", :action=>"search"}, :method=>"get", :class=>"navbar-search pull-right") do %>
		<%= text_field_tag :search, nil, :class=>"search-query", :id=>"navbar-search-field", :placeholder=>"Search" %>
 		<i class="fa fa-search search-bar-icon"></i>
	<% end %>
</div>