<div class="span6 offset1">
	<ul class="nav pull-left">
		<li>
			<%= link_to image_tag("WhiteLogo.png", :size => "94x0"), root_path, :class => "brand" %>
		</li>
	</ul>
</div>
<div class="span4">
	<ul class="nav pull-right">
			<% if current_user %>
				<li>
		            <%= link_to raw("<i class=\"icon-user icon-white\"></i>"), account_page_path, :title => "Your Account" %>
		        </li>
		        <li>
					<%= link_to raw("<i class=\"icon-cloud-upload icon-white icon-6\"></i>"), new_video_path, :title => "Upload Video" %>
				</li>
				<li>
					<%= link_to raw("<i class=\"icon-signin icon-white\"></i>"), destroy_user_session_path, :method => 'delete', :title => "Sign Out" %>
				</li>
			<% else %>
				<li>
			        <%= link_to raw("<i class=\"icon-share-alt icon-white\"></i>"), new_user_session_path, :title => "Sign In" %>
				</li>
		<% end %>
	</ul>
</div>